extends ../template

block content
    .wrapper
        section.section.hero#home
            .content
                header.header
                    .header__inner
                        .header__logo
                            .header__logo-svg.logo
                                svg
                                    use(xlink:href='assets/images/icons.svg#logo')
                            .header__logo-text Giant
                        nav.nav.header__menu
                            -
                                var navItems = [
                                {
                                    title: 'Home',
                                    href: '#',
                                    text: 'Home'
                                },
                                {
                                    title: 'Features',
                                    href: '#features',
                                    text: 'Features'
                                },
                                {
                                    title: 'Pricing',
                                    href: '#price',
                                    text: 'Pricing'
                                }
                                ]
                            for item in navItems
                                a(href= item.href title= item.title).header__link
                                    | #{item.text}
                            a(href='#download').btn.header__btn Download Now
                            div.burger
                                .burger__line-1
                                .burger__line-2
                                .burger__line-3
                main.main
                    .content.content_row
                        .column.main__info
                            h1 A Powerful &amp; Unique App Landing Template
                            .subtitle
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                ul
                                    li Unlimited colors: banner with images, slider or video
                                    li Fully Responsive and powered by HTML5 and CSS3
                                    li Very easy to customize: set up in minutes
                            a(href='#').btn.main__btn Start Exploring Us
                        .column.main__image
                            .main__image-inner
                                img(src='assets/images/iPhones.png' alt='')




