.copyright {
    color:  #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    a {
        font-weight: 400;
        color: #fff;
        transition: color .3s;
        &:hover {
            color: $pink;
        }
    }
}