.download {
  background: $gradient;
  padding: 120px 0;
  h2 {
    margin-bottom: 80px;
    color: #fff;
    @include phones480 {
        margin-bottom: 30px;
    }
  }
  @include phones480 {
    padding: 40px 0;
  }
  .row {
    @include tablets {
      justify-content: center;
    }
  }
}