.features {
    position: relative;
    padding: 120px 0;
    background-color: #fff;
    @include phones480 {
        padding: 30px 0;
    }
    &:after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #eee;
    }
    .row {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 760px) {
            flex-direction: column;
        }
    }
}