.features {
    position: relative;
    padding: 120px 0;
    background-color: #fff;
    &:after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #eee;
    }
    .row {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}





.container__features:after {
  content: '';
  max-width: 1140px;
  height: 2px;
  background-color: #eee;
}
.features {


  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
    justify-content: space-between;

    @include tablets {
      padding: 40px 0;
      flex-direction: column;
    }
  }

  &__item {
    width: 33%;
    display: flex;
    align-items: center;

    @include tablets {
      width: 100%;
      margin-bottom: 15px;
    }

    &:nth-child(-n+3) {
      margin-bottom: 55px;

      @include phones480 {
        margin-bottom: 15px;
      }
    }

    &:before {
      content: '';
      width: 75px;
      height: 75px;
      border: 1px solid #eee;
      border-radius: 50%;
      margin-right: 25px;
      background: url('../images/tags.svg') center no-repeat;
      background-size: 50%;
    }

    &--fire:before {
      background: url('../images/fire-extinguisher.svg') center no-repeat;
      background-size: 50%;
    }
    &--cog:before {
      background: url('../images/cog.svg') center no-repeat;
      background-size: 50%;
    }
    &--brush:before {
      background: url('../images/paint-brush.svg') center no-repeat;
      background-size: 50%;
    }
    &--file:before {
      background: url('../images/file-alt.svg') center no-repeat;
      background-size: 26px;
    }
    &--ring:before {
      background: url('../images/life-ring.svg') center no-repeat;
      background-size: 50%;          
    }
  }

  &__content {
    width: 70%;
  }

  &__icon {
    color: #f31f79;
    font-size: 24px;
    text-align: center;
  }

  &__title {
    font-family: dosis;
    color: #222;
    font-size: 24px;
    font-weight: 500;

    @include phones480 {
      font-size: 18px;
    }
  }

  &__text {
    font-weight: 300;
  }
}