html {
  width: 100%;
}

body {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-family: 300;
  color: $lightgrey;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  overflow-x: hidden;

  @include phones480 {
    line-height: 20px;
  }

  @include phones {
    font-size: 12px;
    line-height: 16px;
  }
}

section {
    width: 100vw;
    //height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
    font-family: dosis;
    font-size: 54px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 23px;
}
h2 {
    font-family: dosis;
    color:  $black;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
}

ul {
  padding: 0;
  margin: 14px 0;
} 

li {
    list-style: none;
    font-weight: 400;
    position: relative;
    margin-left: 5%;
    @include phones {
        margin-left: 10%;
        line-height: 17px;
    }
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
    &:before {
        content: '';
        width: 15px;
        height: 15px;
        background: url('../images/check-circle.svg') center center no-repeat;
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);
        @include phones {
            left: -10%;
        }
    }
}

ul.list-black {
    li:before {
        background: url('../images/check-circle-black.svg') center center no-repeat;
    }
}

p {
    font-family: roboto;
    font-size: 14px;
    font-weight: 300;
    color: $lightgrey;
}

img {
    max-width: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    outline: transparent;
}

button {
    outline: transparent;
}

* {
  box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.row {
    display: flex;
   @include tablets {
        flex-wrap: wrap;
    }
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
    color: #222;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: background .3s;
    &:hover {
        background: $gradient;
    }
}

.container {
    max-width: 1140px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

  &_row {
    flex-direction: row;

    @include desktop {
        padding: 0 5%;
    }
  }
  &_center {
    align-items: center;

    @include desktop {
      padding: 0 5%;
    }
  }

  @include desktop {
    padding: 0 5%;
  }
}
.column {
    width: 50%;
}
.section__title {
  font-family: Dosis;
  color: $black;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;

  @include phones480 {
    font-size: 30px;
  }

  &--center {
    text-align: center;
  }

  &--white {
    color: #fff;
  }
}

.subtitle {
    line-height: 1.8;
}

sub, sup {
  font-size: 18px;
}

sub {
  bottom: 0;
}

sup {
  top: -1em;
}

.subtitle {
    max-width: 64%;
    margin: 20px auto 50px;
    line-height: 1.8;
    &_center {
        text-align: center;
    }

    @include tablets {
        margin-bottom: 20px;
    }
}

/*.section__subtitle {
  width: 64%;
  margin: 20px auto 80px;
  line-height: 24px;
  text-align: center;

  @include tablets {
    margin-bottom: 20px;
  }
}*/

// nav, nav:hover, nav ul a, nav ul a:hover {
//   background-color: transparent;
//   box-shadow: none;
//   width: inherit;
//   height: inherit;
//   line-height: inherit;
//   color: inherit;
//   padding: 0;
//   display: inherit
// }

.no-scroll {
  overflow: hidden;
}
.display_none {
    display: none;
    opacity: 0;
}