.hero {
    height: 100vh;
    padding-bottom: 40px;
    color: #fff;
    background: url('../images/iPhones.png'), $gradient;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 70%;
    background-size: 65%, cover;
    @include phones480 {
        background-size: 70%, cover;
        background-position-x: 100%;
        background-position-y: 97%;
    }
    @include phones {
        background-position-y: 17%;
    }
    @media screen and (max-height: 570px) {
        min-height: 100vh;
        height: 100%;
    }
    .subtitle {
        margin: 0;
        max-width: 85%;
    }
    .container {
        height: 100%;
    }
}