.price {
    width: 25%;
    flex: 1;
    padding: 0 0 50px;
    background-color: $lightblue;
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
    @media screen and (max-width: $tablets) {
        width: 50%;
        min-width: 262px;
        margin: 10px;
    }
    &:not(:last-child) {
        margin-right: 30px;
        @include tablets {
            margin-right: 10px;
        }
    }
    &__title {
        padding: 15px 0;
        font-family: dosis;
        color: #333;
        font-size: 20px;
        font-weight: 400;
    }
    &__sum {
        font-family: dosis;
        color: #333;
        font-size: 48px;
        font-weight: 500;
        padding: 30px 0 60px;
        background-color: #fff;
    }
    &__info {
        position: relative;
    }
    &__options {
        padding: 15px 10% 50px;
        @include phones480 {
            padding: 15px 0 50px;
        }
    }
    &__options-item {
        line-height: 30px;
        &:not(:last-child)::after {
            content: '';
            border-bottom: 1px dashed #eee;
            width: 100%;
            display: flex;
        }
    }
    &__text {
        color: #aaa;
        margin-bottom: 24px;
    }
    &:hover {
        background-color: #fff;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
        .triangle-svg {
            fill: #fff;
        }
        .price__sum,
        .btn {
            color: #fff;
            background: $gradient;
        }
    }
}